.col-sm-12
	h1.text-center.text-primary Final Stats Summary
	.panel.panel-primary
		.panel-heading
			h1.panel-title {{player.name}} Stats
		.panel-body
			ul.list-group
				li.list-group-item: h4 Correct Answers: 
					small {{player.correct}}
				li.list-group-item: h4 Highest Streak: 
					small {{player.streak}}
				li.list-group-item: h4 Round Score: 
					small {{player.roundScore}}
				li.list-group-item: h4 Total Score: 
					small {{player.score}}
	button.btn.btn-primary(ng-click="playAgain()") Play Again?


