div
	h1 Final Stats

	h2 {{player.name}} Stats
	ul
		li Correct Answers: {{player.correct}}
		li Highest Streak: {{player.streak}}
		li Round Score: {{player.roundScore}}
		li Total Score: {{player.score}}

	h5 Want to play again??
