div
	input(ng-change="updateName()", ng-model="playerName", placeholder="Enter Your Name")
	input(ng-model="playerAge", placeholder="Enter Your Age")

	button(ng-click="playSingle(playerName)")
		p Play Single Player

	h1 Welcome {{playerName}}