doctype html
html
	head
		meta(charset="utf-8")
		title Wordnyms
		base(href="/")
	body(ng-app="WordNyms")
		div(ng-controller="Player")
			div(ng-view="")
		script(src="js/libs.min.js")
		script(src="js/scripts.min.js")